<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Tidak memakai INTERNET karena aplikasi dibuat offline sesuai requirement. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/campusmate_logo_mark"
        android:label="CampusMate Pro"
        android:roundIcon="@drawable/campusmate_logo_mark"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusMatePro">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:exported="false" />
    </application>
</manifest>
